
<% if @employee.errors.any? %>
  <div id="error_explanation">
    <h2>Não é possível criar o empregado :</h2>
    <ul>
    <% @employee.errors.each do |attribute, msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <%=link_to "Ver Empregados", employees_path%>
<%else%>
  <p>Criado com sucesso!</p>
  <%=link_to "Ver Empregado", employee_path(@employee.id) %>
<% end %>

