<% if @employee.errors.any? %>
  <div id="error_explanation">
    <h2>Não é possível eliminar o empregado :</h2>
    <ul>
    <% @employee.errors.each do |attribute, msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<%else%>
  <p>Eliminado com sucesso!</p>
<% end %>

<%=link_to "Home", employees_path%>
