<h1>Alterar Dados do Empregado</h1>
<%= render partial: "form", locals: {employee: @employee, url: employee_path(@employee), http_method: :put, submit_text: "Alterar"} %>
<%=link_to "Ver Empregados", employees_path%>