<% if @employee.valid? %>
  <h2>Actualização efectuada com sucesso</h2>
<%else%>
  <div id="error_explanation">
    <h2>Não é possível alterar os seguintes dados:</h2>
    <ul>
    <% @employee.errors.each do |attribute, msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

 <%=link_to "Voltar", employee_path(@employee.id)%>